.booksleuth-splash-bg {
    background: black url(../images/conceptSearchBackgrouynd.png) no-repeat center center fixed;
    background-size: cover;
}
.booksleuth-searchbox {
    padding: 50px 0 0 0;
}
#booksleuth-search {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: .25rem;
}
#booksleuth-passages {
    padding: 0 2rem 2rem 2rem;
}
.booksleuth-navbar-bg {
    background-color: #000;
    margin-bottom: 2rem;
}
.booksleuth-passage-keyword {
    display: inline-block;
    border: 1px solid #999;
    padding: 3px 6px;
    margin: 3px;
}
.booksleuth-passage-keyword small {
    color: #999;
}
.booksleuth-passage-keyword .oi.oi-delete {
    color: #8b0000;
    margin-left: 3px;
}