extends layout

block content
    .container-fluid
        .row
            .col-md-3
            .col-md-6
                form(method="POST" action="/search/query")
                    .row.booksleuth-searchsplash
                        .col-md-12
                            .input-group
                                input.form-control(type="text" id="search-terms" name="search-terms" aria-label="Enter search terms" placeholder="Enter keywords...")
                                .input-group-append
                                    input.btn.btn-primary(type='submit' name='booksleuth-action' value='Search')
                            .form-group(style="margin-top: 1rem")
                                span(style='margin-right: 15px') Which database do you want to search?
                                .form-check.form-check-inline
                                    input.form-check-input#booksleuth-database-ecco(type='radio', name='booksleuth-database', value='ecco', checked='checked')
                                    label.form-check-label(for='booksleuth-database-ecco')
                                        | ECCO
                                .form-check.form-check-inline
                                    input.form-check-input#booksleuth-database-jstor(type='radio', name='booksleuth-database', value='jstor')
                                    label.form-check-label(for='booksleuth-database-jstor')
                                        | JSTOR
                            .form-group(style="margin-top: 1rem")
                                span(style="margin-right: 10px") Already know your passages?
                                button(type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#booksleuth-passages") Continue with passages

                    .row.collapse#booksleuth-passages
                        .card.card-body
                            .form-group.booksleuth-passage
                                label(for="booksleuth-passage1") Passage:
                                textarea.form-control#booksleuth-passage1(name="booksleuth-passage1")
                            .form-group
                                button.btn.btn-secondary#booksleuth-loadpassages(type="button") Find most frequent words
                                button.btn.btn-light.float-right#booksleuth-anotherpassage(type="button") Add another passage
                                button.btn.btn-link(type="button" data-toggle="collapse" data-target="#booksleuth-passage-search-options") Options

                            .form-group.collapse#booksleuth-passage-search-options
                                label(for="booksleuth-max-keywords") Limit
                                input#booksleuth-max-keywords(type="number" name="booksleuth-max-keywords" value="10" min="1" max="100")

                            #booksleuth-passage-keywords
                            #booksleuth-passage-search(style="display:none")
                                .form-group(style='margin-top: 2rem')
                                    .input-group
                                        input.form-control(type="text" id="passage-search-terms" name="passage-search-terms" value="")
                                        .input-group-append
                                            button.btn.btn-primary#booksleuth-search-execute Execute search
            .col-md-3

block scripts
    script(src="/javascripts/vendor/handlebars.js")
    script(src="/javascripts/splash.js")
