extends layout

block content
    .container-fluid
        .row
            .col-md-3
            .col-md-6#booksleuth-search
                form(method="POST" action="/search/query")
                    .row.booksleuth-searchbox
                        .col-md-12
                            .input-group
                                input.form-control(type="text" id="search-terms" name="search-terms" aria-label="Enter search terms" placeholder="Enter keywords...")
                                .input-group-append
                                    input.btn.btn-primary(type='submit' name='booksleuth-action' value='Search')
                            .form-group(style="margin-top: 1rem")
                                span(style='margin-right: 15px') Which database do you want to search?
                                .form-check.form-check-inline
                                    input.form-check-input#booksleuth-database-ecco(type='radio', name='booksleuth-database', value='ecco', checked='checked')
                                    label.form-check-label(for='booksleuth-database-ecco')
                                        | ECCO
                                .form-check.form-check-inline
                                    input.form-check-input#booksleuth-database-jstor(type='radio', name='booksleuth-database', value='jstor')
                                    label.form-check-label(for='booksleuth-database-jstor')
                                        | JSTOR
                            .form-group(style="margin-top: 1rem")
                                span(style="margin-right: 10px") Already know your passages?
                                button(type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#booksleuth-passages") Continue with passages

                    .row.collapse#booksleuth-passages
                        h3 Enter your passages
                        .form-group.booksleuth-passage
                            label(for="booksleuth-passage1") Passage:
                            textarea.form-control#booksleuth-passage1(name="booksleuth-passage1")
                        .form-group
                            button.btn.btn-outline-primary#booksleuth-loadpassages(type="button") Find most frequent words
                            button.btn.btn-outline-secondary.float-right#booksleuth-anotherpassage(type="button") Add another passage
                            button.btn.btn-link(type="button" data-toggle="collapse" data-target="#booksleuth-passage-params") Parameters

                        .collapse#booksleuth-passage-params(style="padding: 1rem; border: 1px solid #ccc;")
                            .form-group
                                label(for="booksleuth-passage-params-limit")
                                | Term limit (Max 50):
                                input#booksleuth-passage-params-limit(type="number" name="booksleuth-passage-params-limit" value="10" min="1" max="50")
                            .form-group
                                label(for="booksleuth-passage-params-stopwords")
                                | Stop words (e.g. "the if and after"):
                                input#booksleuth-passage-params-stopwords(type="text" class="form-control" name="booksleuth-passage-params-stopwords" value="")
                            .form-group
                                | Term frequency weighting:
                                .form-check
                                    input.form-check-input#booksleuth-passage-params-tf-rawcount(type="radio", name="booksleuth-passage-params-tf" value="raw-count" checked="checked")
                                    label.form-check-label(for="booksleuth-passage-params-tf-rawcount") Raw count
                                .form-check
                                    input.form-check-input#booksleuth-passage-params-tf-logcount(type="radio", name="booksleuth-passage-params-tf" value="log-count")
                                    label.form-check-label(for="booksleuth-passage-params-tf-logcount") Logarithmically scaled count
                                .form-check
                                    input.form-check-input#booksleuth-passage-params-tf-doclen(type="radio", name="booksleuth-passage-params-tf" value="proportional-to-doc-len")
                                    label.form-check-label(for="booksleuth-passage-params-tf-doclen") Term frequency with respect to text length (raw frequency divided by the number of words in the text)

                                .form-check
                                    input.form-check-input#booksleuth-passage-params-tf-maxtf(type="radio", name="booksleuth-passage-params-tf" value="proportional-to-max-tf")
                                    label.form-check-label(for="booksleuth-passage-params-tf-maxtf") Augmented frequency with respect to most frequent term (raw frequency divided by the raw frequency of the most occurring term)
                            .form-group
                                | Reduce the weighting of terms use frequently across the passages and boost terms that are used more infrequently (e.g. TF-IDF)?
                                .form-check
                                    input.form-check-input#booksleuth-passage-params-idf(type="checkbox" name="booksleuth-passage-params-idf" value="1")
                                    label.form-check-label(for="booksleuth-passage-params-idf") Yes

                        #booksleuth-passage-keywords(style="margin-top: 2rem;")
                        #booksleuth-passage-search(style="display:none;margin-top: 2rem;")
                            h3 Set search parameters
                            .form-group
                                span(style='margin-right: 15px') What format do you want your results?
                                .form-check.form-check-inline
                                    input.form-check-input#booksleuth-output-format-html(type='radio', name='booksleuth-output-format', value='html', checked='checked')
                                    label.form-check-label(for='booksleuth-output-format-html')
                                        | HTML
                                .form-check.form-check-inline
                                    input.form-check-input#booksleuth-output-format-csv(type='radio', name='booksleuth-output-format', value='csv')
                                    label.form-check-label(for='booksleuth-output-format-csv')
                                        | Spreadsheet
                            .form-group
                                .input-group
                                    input.form-control(type="text" id="passage-search-terms" name="passage-search-terms" value="")
                                    .input-group-append
                                        button.btn.btn-primary#booksleuth-search-execute Execute search
            .col-md-3

block scripts
    script(src="/javascripts/vendor/handlebars.js")
    script(src="/javascripts/splash.js")
